@model Deliverable_2.Models.Order
@{
    ViewBag.Title = "Add_to_cart";
    Layout = "~/Views/Shared/_Layoutdish2.cshtml";
}

<h1>Cart</h1>
<div id="content" class="float_r">
    <table width="680px" cellspacing="0" cellpadding="5">
        <tr bgcolor="#ddd">
            <th width="180" align="left">Description </th>
            <th width="100" align="center">Quantity </th>
            <th width="100" align="center">Date </th>
            <th width="60" align="right">Price </th>
            <th width="60" align="right">Total </th>
            <th width="90"> </th>


        </tr>

        @foreach (var x in ViewBag.X)
        {
            <tr>
                <td>@x.name</td>
                <td align="center">@x.quantity </td>
                <td align="right">Rs. @x.Date </td>
                <td align="right">Rs. @x.price </td>
                <td align="right">Rs. @x.Amount </td>
                <td align="center"> @Html.ActionLink("Remove", "removedishfromcart", new { id = x.OId })</td>
            </tr>
        }

    </table>
    <div style="float:right; width: 215px; margin-top: 20px;">
        <p><a href="/Cart/checkout">Proceed to checkout</a></p>

    </div>
</div>